<footer>
   <div class="footer footer-bottom">
     <div class="container-fluid">
        <ul>
          <a href="/"><li>Timeline</li></a> |
          <a href="/projects"><li>Projects</li></a> |
          <a href="/downloadCV"><li>Download CV</li></a> |
          <a href="/about"><li>About</li></a> |
          <a href="/contact"><li>Contact</li></a>
        </ul>
      </div>
    </div>
</footer>
