<div class="about">
  <h2>Let's talk :)</h2>
  <br/>
  <p>If you would like to get in touch, please:
    <ul>
      <li>Email at <a href="mailto:a.ulyanova89@gmail.com">a.ulyanova89@gmail.com</a></li>
      <li>Call 022 3911 377</li>
      <li><a href='https://github.com/AnnaUlyanova' target="_blank">Click here for my GitHub</a> or</li>
      <li><a href='https://nz.linkedin.com/in/anna-ulyanova-520b7547/en' target="_blank">Click here for my LinkedIn</a></li>
    </ul>
  </p>
</div>
