<div class="page-header">
        <h1 id='projects-header'>Projects</h1>
</div>



  {{#each projects}}
    <div class="row projects">
        <div class="col-md-4">
          <a href="{{project_url}}"><img src='{{image_url}}' width="250px"></a>
        </div>
        <div class="col-md-4 push-md-3">
          <h3>{{name}}</h3>
          <p>{{description}}</p>
        </div>
    </div>
  {{/each}}
